body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  /* position: absolute; */
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {

  position: relative;
left: 100px;
top: 100px;
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  position: absolute;
  /* display: inline-block; */
 bottom: 200px;
right: 200px;
  width: 200px;
  height: 200px;
  background-color: green;
}

.four {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 100px;
  background-color: blue;
}
